ADMIN_MAIL="admin@example.com"
AUTH_SECRET="your-auth-secret-here"
AUTH_TRUST_HOST="true"
AUTH_URL="your-auth-url"
CLOUDINARY_FOLDER="your-cloudinary-folder"
CLOUDINARY_URL="your-cloudinary-url"
DATABASE_URL="your-database-url"
DOPPLER_CONFIG="your-doppler-config"
DOPPLER_ENVIRONMENT="your-doppler-env"
DOPPLER_PROJECT="your-doppler-project"
NEXT_PUBLIC_APP_URL="your-app-url"
NEXT_PUBLIC_UMAMI_WEBSITE_ID="your-umami-website-id"
NEXT_TELEMETRY_DISABLED="1"
SMTP_FROM="Portfolio <contact@example.com>"
SMTP_HOST="mailpit"
SMTP_PASS="none"
SMTP_PORT="1025"
SMTP_SECURE="false"
SMTP_USER="none"
UMAMI_API_KEY="your-umami-api-key"
UMAMI_API_URL="your-umami-api-url"